extends layout

block content
  h2= title

  section(class='row')
    each contact in contacts
      article(class='col')
        h3
          span= contact.name
          span(class='badge')= contact.position
        p= contact.blurb

  a(href='/' class='button') Home
